@page "/dashboard/devices"
@using Helios.Data.Users.Extensions
@using Helios.Data.Users
@using Humanizer
@using Humanizer.Localisation
@model DevicesModel
@inject IAppUserManager _userManager

@{
    ViewData["Title"] = "My Devices";
    Layout = "Shared/_DashboardLayout";
    
    string AddressToExplorerUrl(string address) => $"https://explorer.helium.com/hotspots/{address}";

    string UppercaseFirst(string s) {
        return string.IsNullOrEmpty(s)
            ? string.Empty
            : char.ToUpper(s[0]) + s[1..];
    }   
    
    string StatusToColor(string status) {
        return status?.ToLower() switch {
            "online" => "green",
            "offline" => "red",
            null => "grey",
            _ => throw new ArgumentOutOfRangeException()
            
            };
    }

    var user = await _userManager.GetUserByIdAsync(User.GetUniqueId());
}

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Add new device</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form method="post" asp-page-handler="AddDevice">
            <div asp-validation-summary="All" class="text-danger"></div>
                
            <label for="inputAnimalName1" class="form-label small">Animal Name</label>
            <input type="text" name="animalName" class="form-control" id="inputAnimalName1" aria-describedby="animalHelp" placeholder="Elegant Midnight Kestrel"/>
                            
            <button class="btn btn-success mt-3" type="submit">
                Add new device
            </button>
        </form>

    </div>
</div>

<h2 class="text-center">Devices</h2>

<div style="width: 65%;" class="m-auto">
    @* <h4 class="text-left">Add new device</h4> *@
    @* <div class="dropdown-divider"></div> *@


    @{
        var deviceCount = user.Devices.Count;
        var maxDevices = user.AccountType.MaxDevicesAllowed();
    }

    <h4 class="mt-5">
        Your devices
    
        <span class="text-muted fs-6">
            @deviceCount out of @maxDevices device slots used
        
            <a href="@Url.Page("/pricing")">Upgrade Now</a>
        </span>
        
        <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            +
        </button>
    </h4>

    <div class="dropdown-divider"></div>

    <div class="accordion" id="accordionPanelsStayOpenExample">
    
        @if ( user.Devices?.Count == 0 ) {
            <p class="text-muted text-center mt-4">No devices to show</p>
        }
    
        @for ( var i = 0; i < user.Devices?.Count; i++ ) {
            var device = user.Devices[i];
            if ( device == null ) continue;
        
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-heading-@i">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-@i" aria-expanded="false" aria-controls="panelsStayOpen-collapse-@i">
                        @{
                            var status = device.LastReport == null
                                ? "Offline"
                                : device.LastReport.status.online;
                        }
                    
                        <span
                            style="background-color: @StatusToColor(status); border-radius: 999px; width: 13px; height: 13px; margin-right: 1rem;"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="@UppercaseFirst(status)">
                        </span>

                        <span>
                            @device.AnimalName
                        
                            <small class="text-muted">
                                Updated @UppercaseFirst(device.TimeSinceLastReport().Humanize(minUnit: TimeUnit.Second)) ago
                            </small>
                        </span>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapse-@i" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-@i">
                    <div class="accordion-body">
                        <ul class="list-group list-group-flush">

                            @* Uptime *@
                            <li class="list-group-item">
                                <strong>Uptime: </strong> IMPLEMENT
                            </li>

                            @* Explorer page *@
                            <li class="list-group-item">
                                <strong>Explorer page: </strong>
                            
                                @if ( device.LastReport == null ) {
                                    @:"Unknown"
                                } else {
                                    <a target="_blank" href="@AddressToExplorerUrl(device.LastReport.address)">
                                        @device.LastReport.address
                                    </a>
                                }
                            </li>

                            @* IP Addresses known *@
                            <li class="list-group-item">
                                @if ( device.LastReport == null ) {
                                    @:Unknown
                                } else {
                                    @foreach ( var ip in device.LastReport.status.GetListenAddresses() ) {
                                        <strong>IP Address:</strong>
                                        @ip
                                        <br/>
                                    }
                                }
                            </li>
                        </ul>
                    
                        <form method="post" asp-page-handler="DeleteDevice" asp-route-id="@device.Id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>