@page "/dashboard/devices"
@using Helios.Data.Users.Extensions
@using Helios.Data.Users
@using Humanizer
@using Humanizer.Localisation
@model DevicesModel
@inject IAppUserManager _userManager

@{
    ViewData["Title"] = "My Devices";
    Layout = "Shared/_DashboardLayout";
    
    string AddressToExplorerUrl(string address) => $"https://explorer.helium.com/hotspots/{address}";

    string UppercaseFirst(string s) {
        return string.IsNullOrEmpty(s)
            ? string.Empty
            : char.ToUpper(s[0]) + s[1..];
    }   
    
    string StatusToColor(string status) {
        return status?.ToLower() switch {
            "online" => "green",
            "offline" => "red",
            null => "grey",
            _ => throw new ArgumentOutOfRangeException()
            
            };
    }

    string RewardScaleStyle(double scale) {
        return scale switch {
            > 0.9f => "bg-success",
            > 0.35f => "bg-warning",
            _ => "bg-danger"
            };
    }

    var user = await _userManager.GetUserByIdAsync(User.GetUniqueId());
}

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Add new device</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form method="post" asp-page-handler="AddDevice">
            <div asp-validation-summary="All" class="text-danger"></div>
                
            <label for="inputAnimalName1" class="form-label small">Animal Name</label>
            <input type="text" name="animalName" class="form-control" id="inputAnimalName1" aria-describedby="animalHelp" placeholder="Elegant Midnight Kestrel"/>
                            
            <button class="btn btn-success mt-3" type="submit">
                Add new device
            </button>
        </form>

    </div>
</div>

<h2 class="text-center">Devices</h2>

<div style="width: 65%;" class="m-auto">
    @{
        var deviceCount = user.Devices.Count;
        var maxDevices = user.AccountType.MaxDevicesAllowed();
    }

    <h4 class="mt-5">
        Your devices
    
        @if ( user.AccountType == EAccountType.Enterprise ) {
            <span class="text-muted fs-6">
                @deviceCount devices
            </span>
        } else {
            <span class="text-muted fs-6">
                @deviceCount out of @maxDevices device slots used

                <a href="@Url.Page("/pricing")">Upgrade Now</a>
            </span>
        }
        
        <button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            +
        </button>
    </h4>

    <div class="dropdown-divider"></div>

    <div class="accordion" id="accordionPanelsStayOpenExample">
    
        @if ( user.Devices?.Count == 0 ) {
            <p class="text-muted text-center mt-4">No devices to show</p>
        }
    
        @for ( var i = 0; i < user.Devices?.Count; i++ ) {
            var device = user.Devices[i];
            if ( device == null ) continue;
        
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-heading-@i">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-@i" aria-expanded="false" aria-controls="panelsStayOpen-collapse-@i">
                        @{
                            var status = device.LastReport == null
                                ? "Offline"
                                : device.LastReport.status.online;
                        }
                    
                        <span
                            style="background-color: @StatusToColor(status); border-radius: 999px; width: 13px; height: 13px; margin-right: 1rem;"
                            data-toggle="tooltip"
                            data-placement="top"
                            title="@UppercaseFirst(status)">
                        </span>

                        <span>
                            @device.AnimalName
                        
                            <small class="text-muted">
                                Updated @UppercaseFirst(device.TimeSinceLastReport().Humanize(minUnit: TimeUnit.Second)) ago
                            </small>
                            
                            @if ( device.LastReport != null ) {
                                <span class="badge rounded-pill bg-success"
                                      data-toggle="tooltip" data-placement="top" title="Antenna Gain">@device.LastReport.GainDb dBi</span>

                                <span class="badge rounded-pill bg-success"
                                      data-toggle="tooltip" data-placement="top" title="Antenna Elevation">@(device.LastReport.elevation) Meters</span>

                                <span class="badge rounded-pill bg-success"
                                      data-toggle="tooltip" data-placement="top" title="Current block synced on device">Block @device.LastReport.block</span>

                                <span class="badge rounded-pill @RewardScaleStyle(device.LastReport.reward_scale)">Reward Scale @device.LastReport.reward_scale.ToString("N2")</span>
                            }
                        </span>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapse-@i" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-@i">
                    <div class="accordion-body">

                        <table class="table">
                            <tbody>
                            <tr>
                                <th scope="row">Public IP Address</th>
                                <td>
                                    @if ( device.LastReport == null ) {
                                        @:Unknown
                                    } else {
                                        var listenAddresses = device.LastReport.status.GetListenAddresses()?.ToList();
                                        
                                        if(listenAddresses == null || listenAddresses.Count == 0) {
                                            <span class="text-danger">Not found - Device is either relayed or new to the blockchain</span>
                                        } else {
                                            @foreach ( var ip in listenAddresses ) {
                                                @ip
                                            }
                                        }
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Explorer Page</th>
                                <td>
                                    @if ( device.LastReport == null ) {
                                        @:Unknown
                                    } else {
                                        <a target="_blank" href="@AddressToExplorerUrl(device.LastReport.address)">
                                            @device.LastReport.address
                                        </a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">Owner Address</th>
                                <td colspan="2">
                                    @if ( device.LastReport == null ) {
                                        @:Unknown
                                    } else {
                                        <a href="https://explorer.helium.com/accounts/@device.LastReport.owner" target="_blank">
                                            @device.LastReport.owner
                                        </a>
                                    }
                                </td>
                            </tr>
                            @* <tr> *@
                            @*     <th scope="row">Port Status</th> *@
                            @*     <td colspan="2"> *@
                            @*         Port 22: @(device.PortReport == null ? "Unknown" : device.PortReport.SshPortOpen) *@
                            @*         <br /> *@
                            @*         Port 44158: @(device.PortReport == null ? "Unknown" : device.PortReport.PeerPortOpen) *@
                            @*     </td> *@
                            @* </tr> *@
                            <tr>
                                <th scope="row">Location Data</th>
                                <td colspan="2">
                                    @if ( device.LastReport == null ) {
                                        @:Unknown
                                    } else {
                                        @device.LastReport.geocode.long_street <br/>
                                        @device.LastReport.geocode.long_city <br/>
                                        @device.LastReport.geocode.long_state <br/>
                                        @device.LastReport.geocode.long_country <br/>

                                        const int zoom = 12;
                                        const string type = "p";
                                        var location = $"loc:{device.LastReport.lat}+{device.LastReport.lng}";
                                        
                                        <a href="http://maps.google.com/maps?z=@zoom&t=@type&q=@location" target="_blank">Google Maps</a>
                                    }
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <a href="#"><button type="submit" class="btn btn-primary disabled">Diagnostics (coming soon)</button></a>
                        <form method="post" asp-page-handler="DeleteDevice" class="d-inline" asp-route-id="@device.Id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    
    @if ( deviceCount != 0 ) {
        <div class="text-muted mt-3">Please note: If your device information shows a reward scale of 0, or empty values for some entries, it may be because your device is new to the blockchain. If this is not the case, please use the diagnostic tool.</div>
    }
                                                                                                                                                                                                                                                 </div>